
body{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}
.alert{
    text-align: center;
}

