.cards-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 70vh; /* Ensure at least full viewport height */
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensure the image fills the circular container */
    object-position: center center; /* Center the image within the circle */
  }
  h1{
    text-align: center;
    margin-top: 100px;
  }