.image{
  text-align: center;
  margin-left: 0;
  height: 50%;
}
.card img{
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.form{
  padding: 50px;
  height: 100%;
}
.form .btn{
  width: 100%;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}  
.form h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
